.App {
    background: rgb(0, 0, 0);
    border-radius: 50px;
    color: rgb(255, 255, 255);
    height: 900 px;
    padding: 20px;
    position: relative;
    width: 700px;
  }
  
  .top {
    display: flex;
    height: 20px;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .display {
    flex: 1;
    font-size: 130px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: right;
  }
  
  .buttons {
    flex: 1;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  
